@media (min-width: 40rem) {

    #menu {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
    }

    nav a {
        flex: 1;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
        max-width: 1200px;
        margin: 0 auto;
    }

    h1 {
        grid-column: 1 / -1;
    }

    main section:nth-of-type(3) {
        grid-column: 1 / -1;
    }

    #course-list {
        grid-template-columns: repeat(3, 1fr);
    }
}